__mocks__/
.git/
.github/
.vscode/
.vscode-test/
coverage/
docs/
src/
.eslintignore
.eslintrc.json
.gitignore
.releaserc
.travis.yml
ISSUE_TEMPLATE.md
jest.config.js
jsconfig.json
node_modules/
PULL_REQUEST_TEMPLATE.md
tsconfig.json
vsc-extension-quickstart.md
webpack.config.js
